<!DOCTYPE html>
[% USE Branches %]
[% USE Dumper %]
[% USE Categories %]

[% WRAPPER "wrapper-staff-tool-plugin.inc" method="configure" plugin_title="UMS Collections" %]
<div id="message"></div>
    <body>
        <div id="toolbar" class="btn-toolbar">
            <button type="button" data-bs-toggle="modal" data-bs-target="#UMSConfigModel" data-bs-mode ="New" data-bs-type="group" class="btn btn-default" id="newconfig">
                <i class="fa fa-plus"></i> New group configuration
              </button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#UMSConfigModel" data-bs-mode="New" data-bs-type="branch"class="btn btn-default" id="newconfig">
                <i class="fa fa-plus"></i> New branch configuration
              </button>
          </div>
       <div >
        <div class="page-section">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-configs" type="button" role="tab">
                                <i class="fa fa-server"></i> All configurations
                              </button>
                          </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="group-tab" data-bs-toggle="tab" data-bs-target="#group-configs" type="button" role="tab">
                                <i class="fa fa-server"></i> Group configurations
                              </button>
                          </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="branch-tab" data-bs-toggle="tab" data-bs-target="#branch-configs" type="button" role="tab">
                                <i class="fa fa-server"></i> Branch configurations
                              </button>
                          </li>
                      </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="all-configs" role="tabpanel">
                            <div class="page-section">
                                <p class="text-muted">All configurations. You can create, edit, enable/disable, and delete these configs.</p>
                                <p class="text-muted">Configurations are checked from most specific (branches) to least specific (global)</p>
                              </div>
                            <table class="table table-striped" id="config_table"
                                <thead>
                                    <tr>
                                        <th>Configuration</th>
                                        <th>Type</th>
                                        <th>Enabled</th>
                                      </tr>
                                  </thead>
                                <tbody id="all-tbody">
                                    <!-- configs will be loaded dynamically -->
                                  </tbody>
                              </table>
                          </div>
                        <div class="tab-pane fade" id="group-configs" role="tabpanel">
                            <div class="page-section">
                                <p class="text-muted">Group configurations. You can create, edit, enable/disable, and delete these configs.</p>
                                <p class="text-muted">Configurations are checked from most specific (branches) to least specific (global)</p>
                              </div>
                            <table class="table table-striped" id="group_table"
                                <thead>
                                    <tr>
                                        <th>Configuration ID</th>
                                        <th>Type</th>
                                        <th>Enabled</th>
                                      </tr>
                                  </thead>
                                <tbody id="group-tbody">
                                    <!-- configs will be loaded dynamically -->
                                  </tbody>
                              </table>
                          </div>
                        <div class="tab-pane fade" id="branch-configs" role="tabpanel">
                            <div class="page-section">
                                <p class="text-muted">Branch configurations. You can create, edit, enable/disable, and delete these configs.</p>
                                
                              </div>
                              <table class="table table-striped" id="branch_table"
                                <thead>
                                    <tr>
                                        <th>Configuration ID</th>
                                        <th>Type</th>
                                        <th>Enabled</th>
                                        <th>Actions</th>
                                      </tr>
                                  </thead>
                                <tbody id="branch-tbody">
                                    <!-- configs will be loaded dynamically -->
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
</div>
 <!-- New Config modal -->
    <div class="modal fade modal-lg" id="UMSConfigModel" aria-labelledby="UMSConfigLabel" aria-hidden="true">
        <form  id="config_form" method="post" class="form">
            <input type="hidden" name="class" value="[% CLASS %]"/>
            <input type="hidden" name="method" value="[% METHOD %]"/>
            <input type="hidden" name="action" value="add"/>
            <input type="hidden" class="modal-type" name="type"/>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="UMSConfigLabel"></h4>
                      </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="umsconfig_id">Configuration for: </label>
                                    
                                    <select name="umsconfig_selector" id="umsconfig_id_select" class="form-control">
                                    <option class="modal-select-type">Select a</option>
                                    [% FOREACH l IN Branches.all() %]
                                        <option class="branch_option" value="[% l.branchcode %]" [% IF umsconfig_id == l.branchcode %]selected="selected" [% END %]hidden="" >[% l.branchname | html %]</option>
                                    [% END %]
                                        [% FOREACH g IN groups %]
                                            <option class="group_option" value="[% g.id %]" [% IF umsconfig_id == g.id %]selected="selected" hidden[% END %]hidden="" >[% IF g.parent_id > 0 %][% LibraryGroups.GetTitle(g.parent_id) %] - [% END %][% g.title %]</option>
                                        [% END %] 
                                      </select>
                                  </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="config-enabled" class="form-label">Enabled?</label>
                                        <select class="form-control" id="config-enabled">
                                            <option value="0">Disabled</option>
                                            <option value="1">Enabled</option>
                                          </select>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-6">
                                    <label for="run_on_dow">Day of week to send <i id="info_added" data-bs-toggle="tooltip" title="Please ensure that your system administrator has enabled the cronjob plugins_nightly.pl." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="run_on_dow" class="form-control">
                                        <option value="0" [% IF run_on_dow == 0 %]selected="selected"[% END %]>Sunday</option>
                                        <option value="1" [% IF run_on_dow == 1 %]selected="selected"[% END %]>Monday</option>
                                        <option value="2" [% IF run_on_dow == 2 %]selected="selected"[% END %]>Tuesday</option>
                                        <option value="3" [% IF run_on_dow == 3 %]selected="selected"[% END %]>Wednesday</option>
                                        <option value="4" [% IF run_on_dow == 4 %]selected="selected"[% END %]>Thursday</option>
                                        <option value="5" [% IF run_on_dow == 5 %]selected="selected"[% END %]>Friday</option>
                                        <option value="6" [% IF run_on_dow == 6 %]selected="selected"[% END %]>Saturday</option>
                                      </select>
                                    
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-12">
                                    <label for="umsconfig_categories">Patron categories <i id="info_added" data-bs-toggle="tooltip" title="Leave blank for all categories. multiple values can be selected with ctrl+click or shift+click." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="umsconfig_categories" multiple="multiple">
                                    [% FOREACH category IN Categories.all() %]
                                        <option value="[% category.categorycode %]">[% category.description %]</option>
                                    [% END %]
                                    </select>
                                    <br />
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="fees_threshold">Threshold <i id="info_added" data-bs-toggle="tooltip" title="Minimum amount owed to be sent to collections." data-bs-placement="right" class="fa fa-info-circle"></i><label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div> 
                                            <input type="fees_threshold" name="fees_threshold" class="form-control" value="[% fees_threshold %]">
                                      </div>
                                  </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="processing_fee">Processing fee <i id="info_added" data-bs-toggle="tooltip" title="Amount of the processing fee added to the patron's account." data-bs-placement="right" class="fa fa-info-circle"></i><label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$ </div>
                                        <input type="processing_fee" name="processing_fee" class="form-control" value="[% processing_fee %]">
                                      </div>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="require_lost_fee">Require lost fee <i id="info_added" data-bs-toggle="tooltip" title="If enabled, a patron will not be sent to collections unless at least one of their outstanding fees is a lost fee of any amount." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="require_lost_fee" class="form-control">
                                        <option value="no" [% IF require_lost_fee == "no" %]selected="selected"[% END %]>No</option>
                                        <option value="yes" [% IF require_lost_fee == "yes" %]selected="selected"[% END %]>Yes</option>
                                    </select>
                                    <span class="help-block"></span>
                                  </div>
                              </div>

                            <div class="col-md-6">

                                <div class="form-group mb-3">
                                    <label for="processing_debit">Processing fee debit type <i id="info_added" data-bs-toggle="tooltip" title="Which debit type will be used" data-bs-placement="right" class="fa fa-info-circle"></i><label>
                                    <select name="processing_debit" class="form-control">
                                            <option value="" selected="selected"> Select an attribute</option>
                                        [% FOREACH debit_type IN debit_types %]
                                            <option value="[% debit_type.code | html %]" selected="selected">[% debit_type.description | html %]</option>
                                          [% END %]
                                    </select>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="collections_flag">Collections flag <i id="info_added" data-bs-toggle="tooltip" title="Specify the how the patron is flagged as being in collections.

If using a patron attribute, it is recommended that the attribute be mapped to the YES_NO authorised value category.

If using another category, the authorized values should be 0 and 1, but the descriptions can be set to your preference." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="collections_flag" class="form-control">
                                        <option value="" selected="selected"> Select an attribute</option>
                                        <option value="sort1" [% IF collections_flag == "sort1" %]selected="selected"[% END %]>sort1</option>
                                        <option value="sort2" [% IF collections_flag == "sort2" %]selected="selected"[% END %]>sort2</option>
                                        [% FOREACH a IN attributes %]
                                            <option value="[% a.code %]" [% IF collections_flag == a.code %]selected="selected"[% END %]>[% a.description | html %]</option>
                                        [% END %]
                                      </select>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="exemption_flag">Exemption flag <i id="info_added" data-bs-toggle="tooltip" title=" Specify the how the patron is flagged as being in collections.
 
 If using a patron attribute, it is recommended that the attribute be mapped to the YES_NO authorised value category.

 If using another category, the authorized values should be 0 and 1, but the descriptions can be set to your preference." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="exemption_flag" class="form-control">
                                        <option value="" selected="selected"> Select an attribute</option>
                                        <option value="sort1" [% IF exemption_flag == "sort1" %]selected="selected"[% END %]>sort1</option>
                                        <option value="sort2" [% IF exemption_flag == "sort2" %]selected="selected"[% END %]>sort2</option>
                                        [% FOREACH a IN attributes %]
                                            <option value="[% a.code %]" [% IF exemption_flag == a.code %]selected="selected"[% END %]>[% a.description | html %]</option>
                                        [% END %]
                                    </select>
                            </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="fees_starting_age">Count fees newer than <i id="info_added" data-bs-toggle="tooltip" title="Fees newer than this number of days will be totaled to check if a patron should be sent to collections." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" name="fees_starting_age" class="form-control" value="[% fees_starting_age %]">
                                  </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="fees_ending_age">Count fees older than <i id="info_added" data-bs-toggle="tooltip" title="Fees older than this number of days will be totaled to check if a patron should be sent to collections." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" name="fees_ending_age" class="form-control" value="[% fees_ending_age %]">
                                   </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <label for="fees_created_before_date_filter">Ignore fees created before this date <i id="info_added" data-bs-toggle="tooltip" title="Fees created before this date will not be part of the total used to check if a patron should be sent to collections." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" id="fees_created_before_date_filter" size="10" name="fees_created_before_date_filter" class="flatpickr" value="[% fees_created_before_date_filter | html %]"/>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="auto_clear_paid">Clear flag when balance at or below threshold <i id="info_added" data-bs-toggle="tooltip" title="If enabled, patrons who have paid off all they owe will have the collections flag removed automatically." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select class="form-control">
                                        <option value="yes" [% IF auto_clear_paid == "yes" %]selected="selected"[% END %]>Yes</option>
                                        <option value="no" [% IF auto_clear_paid == "no" %]selected="selected"[% END %]>No</option>
                                    </select>
                                  </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="auto_clear_paid_threshold">Clear collections flag threshold <i id="info_added" data-bs-toggle="tooltip" title="If set, the patron will be cleared from collections if if they do not exceed this threshold." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$ </div>
                                    <input type="text" name="auto_clear_paid_threshold" class="form-control" value="[% auto_clear_paid_threshold || 0 %]">
                                      </div>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="add_restriction">Add restriction for patrons entering collections <i id="info_added" data-bs-toggle="tooltip" title="If enabled, newly flag patrons will have a restriction added to their record." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="add_restriction" class="form-control">
                                        <option value="yes" [% IF add_restriction == "yes" %]selected="selected"[% END %]>Yes</option>
                                        <option value="no" [% IF add_restriction == "no" %]selected="selected"[% END %]>No</option>
                                    </select>
                                  </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="remove_restriction">Remove restriction for patrons leaving collections <i id="info_added" data-bs-toggle="tooltip" title="If enabled, patrons that have paid their debt will have any restrictions added when entering collections removed automatically." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="remove_restriction" class="form-control">
                                        <option value="yes" [% IF remove_restriction == "yes" %]selected="selected"[% END %]>Yes</option>
                                        <option value="no" [% IF remove_restriction == "no" %]selected="selected"[% END %]>No</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="age_limitation">Remove minors from collections report <i id="info_added" data-bs-toggle="tooltip" title="If enabled, patrons under the age of 18 years old will not be included on the collections report." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="age_limitation" class="form-control">
                                        <option value="yes" [% IF age_limitation == "yes" %]selected="selected"[% END %]>Yes</option>
                                        <option value="no" [% IF age_limitation == "no" %]selected="selected"[% END %]>No</option>
                                    </select>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="row">
                        <legend>Email Information</legend>
                              </div>
                        <div class="row">
                            <span class="help-block">If email information is set, plugin will email files to the given email addresses</span>
                          </div>
                       <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="unique_email">Unique email address <i id="info_added" data-bs-toggle="tooltip" title="Email address provided to you by Unique Management Systems to email reports to.</" data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" name="unique_email" class="form-control" value="[% unique_email %]">
                                  </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="cc_email">Additional email address <i id="info_added" data-bs-toggle="tooltip" title="If you would like to send the report to another email address as well, enter it here." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" name="cc_email" class="form-control" value="[% cc_email %]">
                                  </div>
                              </div>
                          </div>
                    </div>

                    <div class="row">
                        <div class="row">
                            <legend>SFTP Information</legend>
                            <span class="help-block">If SFTP host is set, plugin will upload files to the remote SFTP server</span>
                          </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group mb-3">
                                    <label for="host">Host</label>
                                    <input type="text" name="host" class="form-control" value="[% host %]">
                                  </div>
                              </div>
                          </div>

                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group mb-3">
                          <label for="username">Username</label>
                          <input type="text" name="username" class="form-control" value="[% username %]">
                                  </div>
                              </div>
                          </div>

                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group mb-3">
                          <label for="password">Password</label>
                          <input type="password" name="password" class="form-control" value="[% password %]">
                                  </div>
                              </div>
                          </div>

                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group mb-3">
                          <label for="upload_path">Upload path</label>
                          <input type="text" name="upload_path" class="form-control" value="[% upload_path %]">
                                  </div>
                              </div>
                          </div>
                    </div>

                          </fieldset> <!-- /.rows -->
                      </div> <!-- /.modal-body -->
                    <fieldset class="action">
                         <input type="hidden" name="op" value="cud-save" />
                         <input type="submit" value="Save" />
                          [% INCLUDE 'csrf-token.inc' %]
                         <a class="cancel" href="/cgi-bin/koha/plugins/run.pl?class=Koha%3A%3APlugin%3A%3ACom%3A%3AByWaterSolutions%3A%3AUMSGentleNudge&method=configure">Cancel</a>
                    </fieldset>


                    <div class="modal-footer" hidden="">
                        <button type="submit" class="btn btn-default">Confirm</button>
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal" id="cancel_config">Cancel</button>
                    </div> <!-- /.modal-footer -->
                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </form> <!-- /#config_form -->
      </div> <!-- /#newConfigModal -->    
        <!-- Delete Configuration Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label">
      <form id="deleteForm">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                        <h1 class="modal-title" id="delete-modal-label">Delete Configuration</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                        <p>Are you sure you want to delete the configuration "<span id="delete-config-name"></span>"?</p>
                        <p class="text-muted">This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                        <input type="hidden" id="delete-config-id">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Delete configuration
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa fa-times"></i> Cancel
                        </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    </div><!--end panel div-->
  </body>

            [% MACRO jsinclude BLOCK %]
    [% Asset.js("js/admin-menu.js") | $raw %]
    [% Asset.css("css/humanmsg.css") | $raw %]
    [% Asset.js("lib/jquery/plugins/humanmsg.js") | $raw %]
    [% Asset.css("lib/jquery/plugins/multiple-select/multiple-select.min.css") | $raw %]
    [% Asset.js("lib/jquery/plugins/multiple-select/multiple-select.min.js") | $raw %]
    [% INCLUDE 'datatables.inc' %]
    [% INCLUDE 'select2.inc' %]
    [% INCLUDE 'calendar.inc' %]
        <script>
        var UMSConfigModel = document.getElementById('UMSConfigModel')
        UMSConfigModel.addEventListener('show.bs.modal', function (event){
            //Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
             configtype = button.getAttribute('data-bs-type')
            var umsmode = button.getAttribute('data-bs-mode')

            //update the modal content
            //These get information from the button that was clicked
            var modalTitle = UMSConfigModel.querySelector('.modal-title')
            var modalTypeInput = UMSConfigModel.querySelector('.modal-type')
            var modalTypeSelector = modalTypeSelector + configtype
            var modalIDSelect = '.' + configtype + '_option';
            console.log('mode:' + umsmode + '/modaltitle: ' + modalTitle + ' / modalTypeInput: ' + modalTypeInput + ' / modalTypeSelector: '  + modalTypeSelector  + ' / modalIDSelect: ' + modalIDSelect);
            //Sets the title dynamicly: Mode (New/Edit) type(global, group, or branch) configuration
            modalTitle.textContent = umsmode + ' ' + configtype + ' configuration'
            var modalSelector = UMSConfigModel.querySelector('.modal-select-type');
            modalSelector.textContent = 'Select a ' + configtype
            
        //show the appropriate choices in the branch/group dropdown
           // Array.from(document.querySelectorAll("." + configtype +"_option")).forEach(e =>e.removeAttribute("hidden"));
           $("." + configtype +"_option").each(function(){
            $("." + configtype +"_option").removeAttr('hidden');
           }
           );
           UMSConfigModel.addEventListener('hide.bs.modal', function (){
            $("." + configtype +"_option").each(function(){
                $("." + configtype +"_option").attr("hidden", "true");
            }
              );
          });
        });


        $(document).ready(function() {
            //Load All configs on page load
            loadAll();

            //Event handlers

            $('#group-tab').on('click', function() {
                loadGroups();
            });
            $('#branch-tab').on('click', function() {
                loadBranches();
            });

            $('#editconfig').on('click', function() {
                let configId = $(this).data('data-config-id');
                openConfigModal;
            });

            // Form submissions
            $('#config_form').on('submit', function(e) {
                e.preventDefault();
                saveConfig();
            })

            //Initialize DataTables
                function loadAll() {
                $('#config_table').kohaTable({
                    "bDestroy": true,
                    "ajax": {
                        url: '/api/v1/contrib/ums/configs',
                        method: 'GET'
                    },
                    "columns": [
                        {data: "config_id",
                        title: "Configuration ID"
                        },
                        {data: "config_type",
                        render: function (data, type, row) {
                            if (data === "global") {
                                return 'Global configuration'}
                            if (data === "branch") {
                                return 'Branch configuration'}
                            if (data === "group") {
                                return 'Group configuration'}
                            },
                        title: "Configuration Type"
                        },
                        {data: "enabled",
                        render: function (data, type, row) {
                            if (data === 1) {
                                return '<span class="badge bg-success">Enabled</span>'
                            }
                            if (data === 0) {
                                return '<span class="badge bg-secondary">Disabled</span>'
                            }
                        } ,
                        title: "Enabled"
                        },
                        {data: "config_id",
                        render: function (data, type, row, meta) {
                            return '<button type= "button" data-bs-toggle="modal" data-bs-target="#UMSConfigModel" data-bs-mode="Edit" id ="editconfig" class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"> <i class="fa fa-edit"></i> Edit </button>  <button class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"> <i class="fa fa-trash"></i> Delete </button>'

                        },

                        title: "Actions"}]
            });
                };
                function loadGroups () {
                $('#group_table').kohaTable({
                    "bDestroy": true,
                    "ajax": {
                        url: '/api/v1/contrib/ums/configs/?config_type=group',
                        method: 'GET'
                    },
                    "columns": [
                        {data: "config_id",
                        title: "Configuration ID"
                        },
                        {data: "config_type",
                        render: function (data, type, row) {
                            if (data === "global") {
                                return 'Global configuration'}
                            if (data === "branch") {
                                return 'Branch configuration'}
                            if (data === "group") {
                                return 'Group configuration'}
                            },
                        title: "Configuration Type"
                        },
                        {data: "enabled",
                        render: function (data, type, row) {
                            if (data === 1) {
                                return '<span class="badge bg-success">Enabled</span>'
                            }
                            if (data === 0) {
                                return '<span class="badge bg-secondary">Disabled</span>'
                            }
                        } ,
                        title: "Enabled"
                        },
                        {data: "config_id",
                        render: function (data, type, row, meta) {
                            return '<button class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"> <i class="fa fa-edit"></i> Edit </button>  <button class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"> <i class="fa fa-trash"></i> Delete </button>'
                        },

                        title: "Actions"}]
            });
                }
                function loadBranches() {
                $('#branch_table').kohaTable({
                    "bDestroy": true,
                    "ajax": {
                        url: '/api/v1/contrib/ums/configs/?config_type=branch',
                        method: 'GET'
                    },
                    "columns": [
                        {data: "config_id",
                        title: "Configuration ID"
                        },
                        {data: "config_type",
                        render: function (data, type, row) {
                            if (data === "global") {
                                return 'Global configuration'}
                            if (data === "branch") {
                                return 'Branch configuration'}
                            if (data === "group") {
                                return 'Group configuration'}
                            },
                        title: "Configuration Type"
                        },
                        {data: "enabled",
                        render: function (data, type, row) {
                            if (data === 1) {
                                return '<span class="badge bg-success">Enabled</span>'
                            }
                            if (data === 0) {
                                return '<span class="badge bg-secondary">Disabled</span>'
                            }
                        } ,
                        title: "Enabled"
                        },
                        {data: "config_id",
                        render: function (data, type, row, meta) {
                            return '<button class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"> <i class="fa fa-edit"></i> Edit </button>  <button class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"> <i class="fa fa-trash"></i> Delete </button>'
                        },

                        title: "Actions"}]
            });
                };
            function saveConfig() {
                if ($configtype = "branch") {
                    umsbranch =$('#umsconfig_id_select').val();
                };
                if ($configtype = "group") {
                    umsgroup = $('#umsconfig_id_select').val();
                }
                console.log(configtype);
                let configData = {
                    additional_email: $('#additional_email').val(),
                    branch: umsbranch,
                    clear_below: $('#clear_below').val(),
                    clear_threshold: $('#clear_threshold').val(),
                    collections_flag: $('#collections_flag').val(),
                    config_group: umsgroup,
                    config_name: $('#config_name').val(),
                    config_type: configtype,
                    day_of_week: $('#run_on_dow').val(),
                    debit_type: $('#debit_type').val(),
                    enabled: $('#config-enabled').val(),
                    exemption_flag: $('#exemption_flag').val(),
                    fees_newer: $('#fees_starting_age').val(),
                    fees_older: $('#fees_ending_age').val(),
                    ignore_before: $('#fees_created_before_date_filter').val(),
                    patron_categories: $('#umsconfig_categories').val(),
                    processing_fee: $('#processing_fee').val(),
                    remove_minors: $('#age_limitation').val(),
                    require_lost_fee: $('#require_lost_fee').val(),
                    restriction: $('#add_restriction').val(),
                    sftp_host: $('#sftp_host').val(),
                    sftp_password: $('#sftp_password').val(),
                    sftp_user: $('#sftp_user').val(),
                    threshold: $('#threshold').val(),
                    unique_email: $('#unique_email').val()
                };
                let url = '/api/v1/contrib/ums/configs'
                let method = 'POST';


                $.ajax({
                        url: url,
                    method: method,
                    data: JSON.stringify(configData),
                    contentType: 'application/json',
                    success: function(data) {
                        //showMessage(configId ? 'Config updated successfully' : 'Config created successfully', 'success');
                        $('#UMSConfigModel').modal('hide');
                        loadAll();
                    },
                    error: function(xhr, status, error) {
                        let message = 'Failed to save config';
                        if (xhr.responseJSON && xhr.responseJSON.error) {
                            message += ': ' + xhr.responseJSON.error;
                        }
                        //showMessage(message, 'danger');
                    }
                  });
              }

            function openConfigModal(configId = null) {
                console.log(configId);
                if (configId) {
                    //Edit existing configs
                    loadConfigForEdit(configId);
                }
            }

            function loadConfigForEdit(configId) {
                                console.log("edit clicked");
                $.ajax({
                    url: '/api/v1/contrib/ums/configs/' + configId,
                    method: 'GET',
                    success: function(config) {
                        $('#additional_email').val(config.additional_email);
                        $('#branch').val(config.branch);
                        $('#clear_below').val(config.clear_below);
                        $('#clear_threshold').val(config.clear_threshold);
                        $('#collections_flag').val(config.collections_flag);
                        $('#config_group').val(config.config_group);
                        $('#config_id').val(config.config_id);
                        $('#config_name').val(config.config_name);
                        $('#config_type').val(config.config_type);
                        $('#day_of_week').val(config.day_of_week);
                        $('#debit_type').val(config.debit_type);
                        $('#enabled').val(config.enabled);
                        $('#exemptions_flag').val(config.exemptions_flag);
                        $('#fees_newer').val(config.fees_newer);
                        $('#fees_older').val(config.fees_older);
                        $('#ignore_before').val(config.ignore_before);
                        $('#patron_categories').val(config.patron_categories);
                        $('#processing_fee').val(config.processing_fee);
                        $('#remove_minors').val(config.remove_minors);
                        $('#restriction').val(config.restriction);
                        $('#sftp_host').val(config.sftp_host);
                        $('#sftp_password').val(config.sftp_password);
                        $('#sftp_user').val(config.sftp_user);
                        $('#threshold').val(config.threshold);
                        $('#unique_email').val(config.unique_email);
                        $('#require_lost_fee').val(config.require_lost_fee);
                    }
                })
            }
            
            });
</script>
[% END %]
[% END %]<!--wrapper-->