<!DOCTYPE html>
[% USE Branches %]
[% USE Dumper %]
[% USE Categories %]

[% WRAPPER "wrapper-staff-tool-plugin.inc" method="configure" plugin_title="UMS Collections" %]
<div id="message"></div>
    <body>
        <div id="toolbar" class="btn-toolbar">
            <button type="button" data-bs-toggle="modal" data-bs-target="#UMSConfigModel" data-bs-mode ="New" data-bs-type="group" class="btn btn-default" id="newconfig">
                <i class="fa fa-plus"></i> New group configuration
              </button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#UMSConfigModel" data-bs-mode="New" data-bs-type="branch"class="btn btn-default" id="newconfig">
                <i class="fa fa-plus"></i> New branch configuration
              </button>
          </div>
       <div >
        <div class="page-section">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-configs" type="button" role="tab">
                                <i class="fa fa-server"></i> All configurations
                              </button>
                          </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="group-tab" data-bs-toggle="tab" data-bs-target="#group-configs" type="button" role="tab">
                                <i class="fa fa-server"></i> Group configurations
                              </button>
                          </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="branch-tab" data-bs-toggle="tab" data-bs-target="#branch-configs" type="button" role="tab">
                                <i class="fa fa-server"></i> Branch configurations
                              </button>
                          </li>
                      </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="all-configs" role="tabpanel">
                            <div class="page-section">
                                <p class="text-muted">All configurations. You can create, edit, enable/disable, and delete these configs.</p>
                                <p class="text-muted">Configurations are checked from most specific (branches) to least specific (global)</p>
                              </div>
                            <table class="table table-striped" id="config_table"
                                <thead>
                                    <tr>
                                        <th>Configuration</th>
                                        <th>Type</th>
                                        <th>Enabled</th>
                                      </tr>
                                  </thead>
                                <tbody id="all-tbody">
                                    <!-- configs will be loaded dynamically -->
                                  </tbody>
                              </table>
                          </div>
                        <div class="tab-pane fade" id="group-configs" role="tabpanel">
                            <div class="page-section">
                                <p class="text-muted">Group configurations. You can create, edit, enable/disable, and delete these configs.</p>
                                <p class="text-muted">Configurations are checked from most specific (branches) to least specific (global)</p>
                              </div>
                            <table class="table table-striped" id="group_table"
                                <thead>
                                    <tr>
                                        <th>Configuration ID</th>
                                        <th>Type</th>
                                        <th>Enabled</th>
                                      </tr>
                                  </thead>
                                <tbody id="group-tbody">
                                    <!-- configs will be loaded dynamically -->
                                  </tbody>
                              </table>
                          </div>
                        <div class="tab-pane fade" id="branch-configs" role="tabpanel">
                            <div class="page-section">
                                <p class="text-muted">Branch configurations. You can create, edit, enable/disable, and delete these configs.</p>
                                
                              </div>
                              <table class="table table-striped" id="branch_table"
                                <thead>
                                    <tr>
                                        <th>Configuration ID</th>
                                        <th>Type</th>
                                        <th>Enabled</th>
                                        <th>Actions</th>
                                      </tr>
                                  </thead>
                                <tbody id="branch-tbody">
                                    <!-- configs will be loaded dynamically -->
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
</div>
 <!-- New Config modal -->
    <div class="modal fade modal-lg" id="UMSConfigModel" aria-labelledby="UMSConfigLabel" aria-hidden="true">
        <form  id="config_form" method="post" class="form">
            <input type="hidden" name="class" value="[% CLASS %]"/>
            <input type="hidden" name="method" value="[% METHOD %]"/>
            <input type="hidden" name="action" value="add"/>
            <input type="hidden" class="modal-type" name="type"/>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="UMSConfigLabel"></h4>
                      </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3" id="config_id_selector">
                                    <label for="umsconfig_id">Configuration for: </label>
                                    
                                    <select name="umsconfig_selector" id="umsconfig_id_select" class="form-control">
                                    <option class="modal-select-type">Select a</option>
                                    [% FOREACH l IN Branches.all() %]
                                        <option class="branch_option" value="[% l.branchcode %]" [% IF umsconfig_id == l.branchcode %]selected="selected" [% END %]hidden="" >[% l.branchname | html %]</option>
                                    [% END %]
                                        [% FOREACH g IN groups %]
                                            <option class="group_option" value="[% g.id %]" [% IF umsconfig_id == g.id %]selected="selected" hidden[% END %]hidden="" >[% IF g.parent_id > 0 %][% LibraryGroups.GetTitle(g.parent_id) %] - [% END %][% g.title %]</option>
                                        [% END %] 
                                      </select>
                                  </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="config-enabled" class="form-label">Enabled?</label>
                                        <select class="form-control" id="config-enabled">
                                            <option value="0">Disabled</option>
                                            <option value="1">Enabled</option>
                                          </select>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-6">
                                    <label for="run_on_dow">Day of week to send <i id="info_added" data-bs-toggle="tooltip" title="Please ensure that your system administrator has enabled the cronjob plugins_nightly.pl." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="run_on_dow" id="run_on_dow" class="form-control">
                                        <option value="0">Sunday</option>
                                        <option value="1">Monday</option>
                                        <option value="2">Tuesday</option>
                                        <option value="3">Wednesday</option>
                                        <option value="4">Thursday</option>
                                        <option value="5">Friday</option>
                                        <option value="6">Saturday</option>
                                      </select>
                                    
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-12">
                                    <label for="umsconfig_categories">Patron categories <i id="info_added" data-bs-toggle="tooltip" title="Leave blank for all categories. multiple values can be selected with ctrl+click or shift+click." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="umsconfig_categories" id="umsconfig_categories" multiple="multiple">
                                    [% FOREACH category IN Categories.all() %]
                                        <option value="[% category.categorycode %]">[% category.description %]</option>
                                    [% END %]
                                    </select>
                                    <br />
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="fees_threshold">Threshold <i id="info_added" data-bs-toggle="tooltip" title="Minimum amount owed to be sent to collections." data-bs-placement="right" class="fa fa-info-circle"></i><label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div> 
                                            <input type="fees_threshold" name="fees_threshold" id="fees_threshold" class="form-control">
                                      </div>
                                  </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="processing_fee">Processing fee <i id="info_added" data-bs-toggle="tooltip" title="Amount of the processing fee added to the patron's account." data-bs-placement="right" class="fa fa-info-circle"></i><label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$ </div>
                                        <input type="processing_fee" name="processing_fee" id="processing_fee" class="form-control">
                                      </div>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="require_lost_fee">Require lost fee <i id="info_added" data-bs-toggle="tooltip" title="If enabled, a patron will not be sent to collections unless at least one of their outstanding fees is a lost fee of any amount." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="require_lost_fee" id="require_lost_fee" class="form-control">
                                        <option value="no" [% IF require_lost_fee == "no" %]selected="selected"[% END %]>No</option>
                                        <option value="yes" [% IF require_lost_fee == "yes" %]selected="selected"[% END %]>Yes</option>
                                    </select>
                                    <span class="help-block"></span>
                                  </div>
                              </div>

                            <div class="col-md-6">

                                <div class="form-group mb-3">
                                    <label for="processing_debit">Processing fee debit type <i id="info_added" data-bs-toggle="tooltip" title="Which debit type will be used" data-bs-placement="right" class="fa fa-info-circle"></i><label>
                                    <select name="processing_debit" id="processing_debit" class="form-control">
                                            <option value="" selected="selected"> Select an attribute</option>
                                        [% FOREACH debit_type IN debit_types %]
                                            <option value="[% debit_type.code | html %]" selected="selected">[% debit_type.description | html %]</option>
                                          [% END %]
                                    </select>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="collections_flag">Collections flag <i id="info_added" data-bs-toggle="tooltip" title="Specify the how the patron is flagged as being in collections.

    If using a patron attribute, it is recommended that the attribute be mapped to the YES_NO authorised value category.

If using another category, the authorized values should be 0 and 1, but the descriptions can be set to your preference." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="collections_flag" id="collections_flag" class="form-control">
                                        <option value="" selected="selected"> Select an attribute</option>
                                        <option value="sort1" [% IF collections_flag == "sort1" %]selected="selected"[% END %]>sort1</option>
                                        <option value="sort2" [% IF collections_flag == "sort2" %]selected="selected"[% END %]>sort2</option>
                                        [% FOREACH a IN attributes %]
                                            <option value="[% a.code %]" [% IF collections_flag == a.code %]selected="selected"[% END %]>[% a.description | html %]</option>
                                        [% END %]
                                      </select>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="exemption_flag">Exemption flag <i id="info_added" data-bs-toggle="tooltip" title=" Specify the how the patron is flagged as being in collections.
 
 If using a patron attribute, it is recommended that the attribute be mapped to the YES_NO authorised value category.

 If using another category, the authorized values should be 0 and 1, but the descriptions can be set to your preference." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="exemption_flag" id="exemption_flag" class="form-control">
                                        <option value="" selected="selected"> Select an attribute</option>
                                        <option value="sort1" [% IF exemption_flag == "sort1" %]selected="selected"[% END %]>sort1</option>
                                        <option value="sort2" [% IF exemption_flag == "sort2" %]selected="selected"[% END %]>sort2</option>
                                        [% FOREACH a IN attributes %]
                                            <option value="[% a.code %]" [% IF exemption_flag == a.code %]selected="selected"[% END %]>[% a.description | html %]</option>
                                        [% END %]
                                    </select>
                            </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="fees_starting_age">Count fees newer than <i id="info_added" data-bs-toggle="tooltip" title="Fees newer than this number of days will be totaled to check if a patron should be sent to collections." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" name="fees_starting_age" id="fees_starting_age" class="form-control" value="[% fees_starting_age %]">
                                  </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="fees_ending_age">Count fees older than <i id="info_added" data-bs-toggle="tooltip" title="Fees older than this number of days will be totaled to check if a patron should be sent to collections." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" name="fees_ending_age" id="fees_ending_age" class="form-control" value="[% fees_ending_age %]">
                                   </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <label for="fees_created_before_date_filter">Ignore fees created before this date <i id="info_added" data-bs-toggle="tooltip" title="Fees created before this date will not be part of the total used to check if a patron should be sent to collections." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" id="fees_created_before_date_filter" size="10" id=" fees_created_before_date_filter" name="fees_created_before_date_filter" class="flatpickr" value="[% fees_created_before_date_filter | html %]"/>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="clear_below">Clear flag when balance at or below threshold <i id="info_added" data-bs-toggle="tooltip" title="If enabled, patrons who have paid off all they owe will have the collections flag removed automatically." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select class="form-control" id="clear_below">
                                        <option value="1" [% IF auto_clear_paid == "yes" %]selected="selected"[% END %]>Yes</option>
                                        <option value="0" [% IF auto_clear_paid == "no" %]selected="selected"[% END %]>No</option>
                                    </select>
                                  </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="clear_threshold">Clear collections flag threshold <i id="info_added" data-bs-toggle="tooltip" title="If set, the patron will be cleared from collections if if they do not exceed this threshold." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <div class="input-group">
                                        <div class="input-group-addon">$ </div>
                                    <input type="text" name="clear_threshold" id="clear_threshold" class="form-control" value="[% auto_clear_paid_threshold || 0 %]">
                                      </div>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="add_restriction">Add restriction for patrons entering collections <i id="info_added" data-bs-toggle="tooltip" title="If enabled, newly flag patrons will have a restriction added to their record." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="add_restriction" id="add_restriction" class="form-control">
                                        <option value="yes" [% IF add_restriction == "yes" %]selected="selected"[% END %]>Yes</option>
                                        <option value="no" [% IF add_restriction == "no" %]selected="selected"[% END %]>No</option>
                                    </select>
                                  </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="remove_restriction">Remove restriction for patrons leaving collections <i id="info_added" data-bs-toggle="tooltip" title="If enabled, patrons that have paid their debt will have any restrictions added when entering collections removed automatically." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="remove_restriction" id="remove_restriction" class="form-control">
                                        <option value="yes" [% IF remove_restriction == "yes" %]selected="selected"[% END %]>Yes</option>
                                        <option value="no" [% IF remove_restriction == "no" %]selected="selected"[% END %]>No</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="age_limitation">Remove minors from collections report <i id="info_added" data-bs-toggle="tooltip" title="If enabled, patrons under the age of 18 years old will not be included on the collections report." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <select name="age_limitation" id="age_limitation" class="form-control">
                                        <option value="yes" [% IF age_limitation == "yes" %]selected="selected"[% END %]>Yes</option>
                                        <option value="no" [% IF age_limitation == "no" %]selected="selected"[% END %]>No</option>
                                    </select>
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="row">
                        <legend>Email Information</legend>
                              </div>
                        <div class="row">
                            <span class="help-block">If email information is set, plugin will email files to the given email addresses</span>
                          </div>
                       <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="unique_email">Unique email address <i id="info_added" data-bs-toggle="tooltip" title="Email address provided to you by Unique Management Systems to email reports to.</" data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" name="unique_email" id="unique_email" class="form-control" value="[% unique_email %]">
                                  </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="cc_email">Additional email address <i id="info_added" data-bs-toggle="tooltip" title="If you would like to send the report to another email address as well, enter it here." data-bs-placement="right" class="fa fa-info-circle"></i></label>
                                    <input type="text" name="cc_email" id="cc_email" class="form-control" value="[% cc_email %]">
                                  </div>
                              </div>
                          </div>
                    </div>
                          </fieldset> <!-- /.rows -->
                      </div> <!-- /.modal-body -->
                    <fieldset class="action">
                         <input type="hidden" name="op" value="cud-save" />
                         <input type="submit" value="Save" />
                          [% INCLUDE 'csrf-token.inc' %]
                         <a class="cancel" href="/cgi-bin/koha/plugins/run.pl?class=Koha%3A%3APlugin%3A%3ACom%3A%3AByWaterSolutions%3A%3AUMSGentleNudge&method=configure">Cancel</a>
                    </fieldset>


                    <div class="modal-footer" hidden="">
                        <button type="submit" class="btn btn-default">Confirm</button>
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal" id="cancel_config">Cancel</button>
                    </div> <!-- /.modal-footer -->
                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </form> <!-- /#config_form -->
      </div> <!-- /#newConfigModal -->    

        <!-- Delete Configuration Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label">
      <form id="deleteForm">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                        <h1 class="modal-title" id="delete-modal-label">Delete Configuration</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                        <p>Are you sure you want to delete the configuration "<span id="delete-config-name"></span>"?</p>
                        <p class="text-muted">This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                        <input type="hidden" id="delete-config-id">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Delete configuration
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa fa-times"></i> Cancel
                        </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    </div><!--end panel div-->
  </body>
<style>
    .hideme {
        display:none;
    }

</style>
            [% MACRO jsinclude BLOCK %]
    [% Asset.js("js/admin-menu.js") | $raw %]
    [% Asset.css("css/humanmsg.css") | $raw %]
    [% Asset.js("lib/jquery/plugins/humanmsg.js") | $raw %]
    [% Asset.css("lib/jquery/plugins/multiple-select/multiple-select.min.css") | $raw %]
    [% Asset.js("lib/jquery/plugins/multiple-select/multiple-select.min.js") | $raw %]
    [% INCLUDE 'datatables.inc' %]
    [% INCLUDE 'select2.inc' %]
    [% INCLUDE 'calendar.inc' %]
        <script>
        var UMSConfigModel = document.getElementById('UMSConfigModel')
        UMSConfigModel.addEventListener('show.bs.modal', function (event){
            //Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
             configtype = button.getAttribute('data-bs-type')
            var umsmode = button.getAttribute('data-bs-mode')
            var ums_id = button.getAttribute('data-config-id')

            //update the modal content
            //These get information from the button that was clicked
            var modalTitle = UMSConfigModel.querySelector('.modal-title')
            var modalTypeInput = UMSConfigModel.querySelector('.modal-type')
            var modalTypeSelector = modalTypeSelector + configtype
            var modalIDSelect = '.' + configtype + '_option';
            console.log('id:' + ums_id +' /mode:' + umsmode + '/modaltitle: ' + modalTitle + ' / modalTypeInput: ' + modalTypeInput + ' / modalTypeSelector: '  + modalTypeSelector  + ' / modalIDSelect: ' + modalIDSelect);
            //Sets the title dynamicly: Mode (New/Edit) type(global, group, or branch) configuration
            modalTitle.textContent = umsmode + ' ' + configtype + ' configuration'
            var modalSelector = UMSConfigModel.querySelector('.modal-select-type');
            modalSelector.textContent = 'Select a ' + configtype
            if (configtype == 'global'){
                modalSelector.textContent = 'Global'
            };
            if (umsmode == "Edit") loadConfigForEdit();

            
        //show the appropriate choices in the branch/group dropdown

           // Array.from(document.querySelectorAll("." + configtype +"_option")).forEach(e =>e.removeAttribute("hidden"));
           $("." + configtype +"_option").each(function(){
            $("." + configtype +"_option").removeAttr('hidden');
           }
           );
           UMSConfigModel.addEventListener('hide.bs.modal', function (){
            $("." + configtype +"_option").each(function(){
                $("." + configtype +"_option").attr("hidden", "true");
            }
              );
          });
        });
        

            function loadConfigForEdit() {
                                console.log("edit clicked");
                $.ajax({
                    url: '/api/v1/contrib/ums/config/' + event.relatedTarget.getAttribute('data-config-id'),
                    method: 'GET',
                    success: function(config) {
                    console.log(config);
                    console.log(config.additional_email);

                        if (config.config_type == "branch") {
                            document.getElementById("umsconfig_id_select").value = config.branch;
                        } 
                        if (config.config_type== "group") {
                            document.getElementById("umsconfig_id_select").value = config.config_group;
                        };
                        document.getElementById("cc_email").value = config.additional_email;
                        document.getElementById("clear_below").value = config.clear_below;
                        document.getElementById("clear_threshold").value = config.clear_threshold;
                        document.getElementById("collections_flag").value = config.collections_flag;
                        document.getElementById("run_on_dow").value = config.day_of_week;
                        document.getElementById("processing_debit").value = config.debit_type;
                        document.getElementById("config-enabled").value = config.enabled;
                        document.getElementById("exemption_flag").value = config.exemptions_flag;
                        document.getElementById("fees_starting_age").value = config.fees_newer;
                        document.getElementById("fees_ending_age").value = config.fees_older;
                        document.getElementById("fees_created_before_date_filter").value = config.ignore_before;
                        document.getElementById("umsconfig_categories").value = config.patron_categories;
                        document.getElementById("processing_fee").value = config.processing_fee;
                        document.getElementById("age_limitation").value = config.remove_minors;
                        document.getElementById("add_restriction").value = config.restriction;
                        document.getElementById("fees_threshold").value = config.threshold;
                        document.getElementById("unique_email").value = config.unique_email;
                        document.getElementById("require_lost_fee").value = config.require_lost_fee;
                        
                    }
                })
            }
        $(document).ready(function() {
            //Load All configs on page load
            loadAll();

            //Event handlers

            $('#group-tab').on('click', function() {
                loadGroups();
            });
            $('#branch-tab').on('click', function() {
                loadBranches();
            });

            $('#editconfig').on('click', function() {
                let configId = $(this).data('data-config-id');
                warn ("editconfig");
                openConfigModal();
            });

            // Form submissions
            $('#config_form').on('submit', function(e) {
                e.preventDefault();
                saveConfig();
            })

            //Initialize DataTables
                function loadAll() {
                $('#config_table').kohaTable({
                    "bDestroy": true,
                    "ajax": {
                        url: '/api/v1/contrib/ums/configs',
                        method: 'GET'
                    },
                    "columns": [
                        {data: "config_id",
                        title: "Configuration ID"
                        },
                        {data: "config_type",
                        render: function (data, type, row) {
                            if (data === "global") {
                                return 'Global configuration'}
                            if (data === "branch") {
                                return 'Branch configuration'}
                            if (data === "group") {
                                return 'Group configuration'}
                            },
                        title: "Configuration Type"
                        },
                        {data: "enabled",
                        render: function (data, type, row) {
                            if (data === 1) {
                                return '<span class="badge bg-success">Enabled</span>'
                            }
                            if (data === 0) {
                                return '<span class="badge bg-secondary">Disabled</span>'
                            }
                        } ,
                        title: "Enabled"
                        },
                        {data: "config_id",
                        render: function (data, type, row, meta) {
                            if (data === 1) 
                                {return '<button type="button" data-bs-toggle="modal" data-bs-target="#UMSConfigModel" data-bs-mode="Edit" id ="editconfig" data-bs-type="' +row["config_type"] + '" class="btn btn-xs btn-primary " edit-config" data-config-id="' + data + '"><i class="fa fa-edit"></i> Edit </button> <button data-bs-toggle="modal" data-bs-target="#UMSToggleModel" data-bs-mode="Toggle" id="toggleconfig" class= "btn btn-xs btn-primary toggle-config" data-toggle-id="' + data+ '"><i class="fa fa-toggle-on"></i> Toggle </button>'
                            } else {return '<button data-bs-toggle="modal" data-bs-target="#UMSConfigModel" data-bs-mode="Edit" id ="editconfig" data-bs-type="' +row["config_type"] + '" class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"><i class="fa fa-edit"></i> Edit </button>  <button data-bs-toggle="modal" data-bs-target="#UMSToggleModel" data-bs-mode="Toggle" id="toggleconfig" class= "btn btn-xs btn-primary toggle-config" data-toggle-id="' + data+ '"><i class="fa fa-toggle-on"></i> Toggle </button>  <button data-bs-toggle="modal" data-bs-target="#UMSDeleteModel" data-bs-mode="Delete" id="deleteconfig" class= "btn btn-xs btn-primary delete-config" data-delete-id="' + data+ '"><i class="fa fa-trash"></i> Delete </button>'
                            }
                        },

                        title: "Actions"}]
            });
                };
                function loadGroups () {
                $('#group_table').kohaTable({
                    "bDestroy": true,
                    "ajax": {
                        url: '/api/v1/contrib/ums/configs/?config_type=group',
                        method: 'GET'
                    },
                    "columns": [
                        {data: "config_id",
                        title: "Configuration ID"
                        },
                        {data: "config_type",
                        render: function (data, type, row) {
                            if (data === "global") {
                                return 'Global configuration'}
                            if (data === "branch") {
                                return 'Branch configuration'}
                            if (data === "group") {
                                return 'Group configuration'}
                            },
                        title: "Configuration Type"
                        },
                        {data: "enabled",
                        render: function (data, type, row) {
                            if (data === 1) {
                                return '<span class="badge bg-success">Enabled</span>'
                            }
                            if (data === 0) {
                                return '<span class="badge bg-secondary">Disabled</span>'
                            }
                        } ,
                        title: "Enabled"
                        },
                        {data: "config_id",
                        render: function (data, type, row, meta) {
                            return '<button class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"> <i class="fa fa-edit"></i> Edit </button>  <button data-bs-toggle="modal" data-bs-target="#UMSToggleModel" data-bs-mode="Toggle" id="toggleconfig" class= "btn btn-xs btn-primary toggle-config" data-toggle-id="' + data+ '"><i class="fa fa-toggle-on"></i> Toggle </button> <button class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"> <i class="fa fa-trash"></i> Delete </button>'
                        },

                        title: "Actions"}]
            });
                }
                function loadBranches() {
                $('#branch_table').kohaTable({
                    "bDestroy": true,
                    "ajax": {
                        url: '/api/v1/contrib/ums/configs/?config_type=branch',
                        method: 'GET'
                    },
                    "columns": [
                        {data: "config_id",
                        title: "Configuration ID"
                        },
                        {data: "config_name",
                        title: "Configuration Name"
                        },
                        {data: "day_of_week",
                        render: function (data, type, row) {
                            if (data === 0) {
                                return 'Sunday'
                            }
                            if (data === 1) {
                                return 'Monday'
                            }
                            if (data === 2) {
                                return 'Tuesday'
                            }
                            if (data === 3) {
                                return 'Wednesday'
                            }
                            if (data === 4) {
                                return 'Thursday'
                            }
                            if (data === 5) {
                                return 'Friday'
                            }
                            if (data === 6) {
                                return 'Saturday'
                            }
                        },
                        title: "Day of Week"
                        },
                        {data: "config_type",
                        render: function (data, type, row) {
                            if (data === "global") {
                                return 'Global configuration'}
                            if (data === "branch") {
                                return 'Branch configuration'}
                            if (data === "group") {
                                return 'Group configuration'}
                            },
                        title: "Configuration Type"
                        },
                        {data: "enabled",
                        render: function (data, type, row) {
                            if (data === 1) {
                                return '<span class="badge bg-success">Enabled</span>'
                            }
                            if (data === 0) {
                                return '<span class="badge bg-secondary">Disabled</span>'
                            }
                        } ,
                        title: "Enabled"
                        },
                        {data: "config_id",
                        render: function (data, type, row, meta) {
                            return '<button class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"> <i class="fa fa-edit"></i> Edit </button>  <button data-bs-toggle="modal" data-bs-target="#UMSToggleModel" data-bs-mode="Toggle" id="toggleconfig" class= "btn btn-xs btn-primary toggle-config" data-toggle-id="' + data+ '"><i class="fa fa-toggle-on"></i> Toggle </button> <button class="btn btn-xs btn-primary edit-config" data-config-id="' + data + '"> <i class="fa fa-trash"></i> Delete </button>'
                        },

                        title: "Actions"}]
            });
                };
            function saveConfig() {
                if ($configtype = "branch") {
                    umsbranch =$('#umsconfig_id_select').val();
                };
                if ($configtype = "group") {
                    umsgroup = $('#umsconfig_id_select').val();
                }
                console.log(configtype);
                let configData = {
                    additional_email: $('#additional_email').val(),
                    branch: umsbranch,
                    clear_below: $('#clear_below').val(),
                    clear_threshold: $('#clear_threshold').val(),
                    collections_flag: $('#collections_flag').val(),
                    config_group: umsgroup,
                    config_name: $('#config_name').val(),
                    config_type: configtype,
                    day_of_week: $('#run_on_dow').val(),
                    debit_type: $('#debit_type').val(),
                    enabled: $('#config-enabled').val(),
                    exemption_flag: $('#exemption_flag').val(),
                    fees_newer: $('#fees_starting_age').val(),
                    fees_older: $('#fees_ending_age').val(),
                    ignore_before: $('#fees_created_before_date_filter').val(),
                    patron_categories: $('#umsconfig_categories').val(),
                    processing_fee: $('#processing_fee').val(),
                    remove_minors: $('#age_limitation').val(),
                    require_lost_fee: $('#require_lost_fee').val(),
                    restriction: $('#add_restriction').val(),
                    threshold: $('#threshold').val(),
                    unique_email: $('#unique_email').val()
                };
                let url = '/api/v1/contrib/ums/configs'
                let method = 'POST';


                $.ajax({
                        url: url,
                    method: method,
                    data: JSON.stringify(configData),
                    contentType: 'application/json',
                    success: function(data) {
                        //showMessage(configId ? 'Config updated successfully' : 'Config created successfully', 'success');
                        $('#UMSConfigModel').modal('hide');
                        loadAll();
                    },
                    error: function(xhr, status, error) {
                        let message = 'Failed to save config';
                        if (xhr.responseJSON && xhr.responseJSON.error) {
                            message += ': ' + xhr.responseJSON.error;
                        }
                        //showMessage(message, 'danger');
                    }
                  });
              }

            function openConfigModal() {
                console.log(ums_id);
                console.log('testing');
                if (ums_id) {
                    //Edit existing configs
                    loadConfigForEdit(ums_id);
                }
            }            
            });
</script>
[% END %]
[% END %]<!--wrapper-->